<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>TUBE</title>
</head>
<body>
    <div class="container">
        <div class="date-select-box">
            <select class="date-select">
                <option value="tanggal1">September</option>
                <option value="tanggal2">Agustus</option>
                <option value="tanggal3">Juli</option>
                <option value="tanggal3">Juni</option>
                <option value="tanggal3">Mei</option>
                <option value="tanggal3">April</option>
                <option value="tanggal3">Maret</option>
            </select>
        </div>
        <div class="rounded-box">
            <p class="box-text">Your Balance</p>
            <p class="box-price">Rp.1.000.000</p>
        </div>
        <div class="icon-box red">
            <div class="icon">
                <img src="expense.png" alt="Icon Uang (Merah)">
            </div>
            <div class="icon-text">
                <p class="red-text">Rp.500.000</p>
                <p class="red-text">Outcome</p>
            </div>
        </div>
        <div class="icon-box green">
            <div class="icon">
                <img src="Income.png" alt="Icon Uang (Hijau)">
            </div>
            <div class="icon-text">
                <p class="green-text">Rp.2.000.000</p>
                <p class="green-text">Income</p>
            </div>
        </div>
        <div class="transaction-header">
            <p class="transaction-title">Transaksi</p>
            <div class="show-all-box">
                <p class="show-all-text">Show All</p>
            </div>
        </div>
        <div class="transaction-list">
            <div class="transaction-item">
                <div class="transaction-icon">
                    <img src="motor.png" alt="Icon Transaksi">
                </div>
                <div class="transaction-text">
                    <p>Service Motor</p>
                    <p>Rp. 100,000</p>
                </div>
            </div>
            <div class="transaction-item">
                <div class="transaction-icon">
                    <img src="lightning.png" alt="Icon Transaksi">
                </div>
                <div class="transaction-text">
                    <p>Bayar Listrik</p>
                    <p>Rp. 90,000</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>