<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="pilih-tanggal">
        <h3>Pilih tanggal : </h3>
        <div class="date-first">
            <input type="date">
            <h3>s.d.</h3>
            <input type="date">
            <button class="btn-Cari">Cari</button>
        </div>
    </div>

    <div class="total-pengeluaran">
        <h3>Total pengeluaran :</h3>
        <h1 id="total-expenses">Rp. </h1>
    </div>
    <div class="table laporan">
        <table>
            <tr>
                <th>Tanggal</th>
                <th>Tipe</th>
                <th>Kategori</th>
                <th>Harga</th>
            </tr>
            <tr>
                <td>2023-09-01</td>
                <td>Pemasukan</td>
                <td>Uang bulanan</td>
                <td>50.00</td>
            </tr>
            <tr>
                <td>2023-09-02</td>
                <td>Pengeluaran</td>
                <td>Minuman</td>
                <td>25.00</td>
            </tr>
            <tr>
                <td>2023-09-03</td>
                <td>Pengeluaran</td>
                <td>Peralatan Bersih-bersih</td>
                <td>100.00</td>
            </tr>
            <tr>
                <td>2023-09-04</td>
                <td>Pengeluaran</td>
                <td>Makanan</td>
                <td>45.00</td>
            </tr>
            <tr>
                <td>2023-09-05</td>
                <td>Pengeluaran</td>
                <td>Minuman</td>
                <td>30.00</td>
            </tr>
        </table>
    </div>

</body>

</html>